{
    "sourceMaps": "inline",
    "only": ["**/*.js", "**/*.ts"],
    "ignore": ["**/*.d.ts"],
    "presets": [
        "@babel/env",
        "@babel/typescript"
    ],
    "plugins": [
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "Toolkit.parser"
        }],
        "@babel/plugin-proposal-do-expressions",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining"
    ]
}